*.DS_Store
*.sw*
*.pyc
*.Rapp.history
*.*~
*.out
*hide
*hide_*
*save
*save_*
*saved
*saved_*
*pylintrc*
nasbench_only108.tfrecord
.ipynb_checkpoints/*

*aux.pkl
*config.pkl
*nextpt.pkl
*data.pkl
*log.txt

